footer {
    background-color: var(--rojoOscuro);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-superior {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.seccion {
    display: flex;
    justify-content: space-between;
}

.informacion {
    min-height: 14vh;
    max-height: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4vmin;
}

.logo img {
    width: 10vmax;
}

.links {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    padding: 25px 0 0 0;
}

.superior {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.superior a {
    text-decoration: none;
    margin: 0 20px 0 0;
    color: var(--blanco);
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 0;
}

.inferior {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.inferior a {
    text-decoration: none;
    margin: 0 20px 0 0;
    color: var(--blanco);
    font-size: .7em;
    padding: 5px 0;
}

.iconos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 1vh 0;
}

.fila-iconos-1,
.fila-iconos-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 1vh 0;
}

.fila-iconos-1 img,
.fila-iconos-2 img {
    width: 15%;
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.footer-inferior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    height: auto;
    padding: 10px 2vw;
}

.footer-inferior p {
    color: var(--blanco);
    font-size: .6rem;
}

.footer-inferior button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: var(--negro);
    border: 1px solid var(--blanco);
}

.footer-inferior button img {
    height: 0.5rem;
}

.footer-inferior button p {
    margin: 0 5px 0 5px;
}

.footer-inferior button svg {
    height: 1rem;
    color: var(--blanco)
}

@media (min-width: 768px) {

    footer{
        height: 25vh;
        justify-content: space-between;
    }

    .footer-superior {
        flex-direction: row;
    }

    .superior a {
        font-size: 1.2rem;
    }

    .inferior a {
        font-size: .9em;
    }

    .informacion{
        width: 80%;
        justify-content: start;
    }

    .iconos {
        flex-direction: column;
        height: 100%;
        width: 20%;
        margin: 2vh 0;
    }

    .iconos img {
        width: 20%;
    }

    .servicios {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 10px;
    }

    .redes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    .footer-inferior {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--negro);
        height: auto;
        padding: 10px 2vw;
    }

    .footer-inferior p {
        color: var(--blanco);
        font-size: .6rem;
    }
}

@media (min-width: 1024px) {

    .superior a {
        font-size: 1.4rem;
    }

    .inferior a {
        font-size: 1.1em;
    }

    .footer-inferior{
        margin-top: 20px;
    }

    .iconos img {
        width: 15%;
    }

    .footer-inferior p {
        color: var(--blanco);
        font-size: .8rem;
    }
}